[2015-12-23 13:30] chrismarino opened #8 "README additions, group_vars/all confusion...."
The README should be more explicit about the options that can be set in the 'group_vars/all' file.

Seems that the devstack user name can be set as an option, but does the file need to be edited to change the other values?  Presume, yes.

There should be other examples in there to show what can be set. The number of nodes, for example is something I think a lot of people will be interested in chan

[2015-12-23 17:32] chrismarino opened #10 "OpenStack Controller thinks there are 4 nodes when there are only 2..."
Something is not reset in the installation scripts. I launched a cluster with 1 Compute, 1 Controller. Then changed the conf to build with 3 Compute. That all worked. Then I changed it back to 1 Compute. The cluster launched properely, but their are routes on the Controller to Compute Nodes that don't exist.

    ubuntu@ip-192-168-0-10:~$ route -n
    Kernel IP routing table
    Destination     Ga

[2015-12-23 20:06] flashvoid opened #11 "Failing on ssh timeout"
EC2 instances are not always immediately available after SSH port open. You're trying to log in right after ssh opens but it might fail on timeout.

Need ping loop
[code]

[2015-12-23 21:33] flashvoid opened #14 "Need a way to ask for non-master binaries or request BFS"
What is binaries in master are broken, what if we want to demo a branch that doesn't have binaries prebuilt.

Need an option for this.

[2015-12-28 21:54] cgilmour opened #24 "Change location of log files"
Currently, upstart creates log files for romana applications in /var/log/upstart/<servicename>.log
It also creates them with permissions `-rw-r----- 1 root root`, so they aren't easily viewed and need to use sudo to access.

This could be improved by putting logs into a better location, eg: /var/log/romana, and making them readable by the default user ("ubuntu") by default.

[2016-01-05 00:06] cgilmour opened #32 "Improve installation duration"
Duration of the installation is a bit .. long.
The original installation used a private AMI with the prep stages completed, so it was a lot faster.
But that private AMI is only available to the internal team, so it's unhelpful for collaborators and public users.

This issue is being opened to attempt some speedups and take notes about any improvement they bring.

[2016-01-15 10:14] cgilmour opened #52 "Installation doesn't work with latest Ansible (v2.0.0.2)"
Very recently, a new version of Ansible was released, and it causes an issue during installation at this stage.
[code]

This didn't occur with earlier Ansible releases (eg: 1.9.4).
Try to find a solution that works on both.

[2016-01-27 17:51] chrismarino opened #62 "Get different traceroute results on different segments..."
Just launched a 6.2 cluster (not master). Installed fine. Had some weirdness with a VM getting 2 IPs, and no tap interfaces. Killed the instances and tried again. Second time it all seemed to work.

Then did a traceroute and the intermediate hop showed up in the path! Did not expect that. Tried from a different instance on the other segment and got the * * * as I expected.

Will leave the cluster

[2016-03-03 22:44] cgilmour commented on #52
Ansible is now v.2.0.1, and also with other installer changes, we're not affected by this anymore.

[2016-03-03 22:44] #52 closed

[2016-03-03 22:47] cgilmour commented on #11
Latest installer uses this approach for ensuring hosts can be reached and the rest of the ansible steps can be executed.

https://github.com/romana/romana/blob/491e337be5fbd0516638cebecbf872e8103fc3ad/romana-install/romana-setup#L164-L178

[2016-03-03 22:47] #11 closed

[2016-03-03 22:48] cgilmour commented on #24
Upstart doesn't give any options around log files, owner/group, or the permissions.
So instead I've given the ubuntu user permission to read the files.

https://github.com/romana/romana/blob/491e337be5fbd0516638cebecbf872e8103fc3ad/romana-install/roles/system/ubuntu/tasks/root_group.yml

[2016-03-03 22:48] #24 closed

[2016-03-03 22:50] cgilmour commented on #10
The latest installer is better about this behaviour. You'll only see the hosts/IPs/routes that were chosen at install time.

[2016-03-03 22:50] #10 closed

[2016-03-03 23:08] cgilmour commented on #8
Big changes in group_vars in the updated installer.
I don't think users should be playing with the values in there -- it's very "at your own risk".

We could wait for a bit more community feedback about what things they actually want to change, and find the best way to provide it.

[2016-03-03 23:11] cgilmour commented on #62
I think this has been addressed. Traceroute inconsistency was sorted a while ago, and bug fixes to the installer have been applied for avoiding virbr0 creation.

[2016-03-03 23:11] #62 closed

[2016-03-07 15:12] chrismarino opened #82 "DEMO.md needs update.."
Looking over https://github.com/romana/romana/blob/master/kubernetes/DEMO.md it seems that there are still references to t1 and t2, which have been changed to tenant-A and tenant-B (I think). Also, the file/JSON snippets seems stale as well. References to 'owers', etc...

[2016-04-09 15:25] tweakmy opened #92 "Is there a manual install instruction?"
Hi there,

Is there  a similar thing like http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/ version of romana?  Understand there is a vagrant ansible which simplify the installation. However, I am using kvm. And I have to learn all the new tricks on ansible? Is there a simplified version?

Thanks.

[2016-04-10 02:14] jbrendel commented on #92
Hello!

We are still working on that document for Romana and are not quite finished, yet.

In the meantime, however, we are also modifying our installation scripts so that you do not need to use Vagrant, but instead can point at already existing VMs or even hardware boxes. Maybe this might be a useful compromise? You could create some VMs via kvm and then let our installer configure a cluster on t

[2016-04-10 12:56] tweakmy commented on #92
I think for a fast start, a script should be sufficient for me as long I don't have to keep up with a lot of new technologies.
As an overall or for any romana newbie,would appreciate if we know where the components are install and if the components does terminate(due to error etc), then it is much easier to troubleshoot or raise an issue or pr? Just a thought.

[2016-05-31 19:06] amon-ra commented on #92
Calico provides a docker image. This is ideal in my opinion

[2016-05-31 20:00] jbrendel commented on #92
The docker-image approach is something we are also experimenting with. Having it will be great for those who quickly wish to try out Romana. We do hope that the current installer - with the option to install against AWS, locally created VMs or static servers - covers a lot of bases and goes a long way towards making exploring Romana easy, without requiring too many prerequisites to be installed on

[2016-07-07 22:05] v1k0d3n opened #126 "Devstack Error: "The async task did not return valid JSON""
Creating placeholder until I can look deeper and provide more troubleshooting time towards this issue, but I'll put it out there for now.

Running into issues creating a devstack deployment per instructions.

[code]

[2016-07-07 22:17] v1k0d3n commented on #126
maybe related to Ansible v2.2.0? Lots of warnings during the run about loop.

[code]

[2016-07-07 22:21] cgilmour commented on #126
It could be.
Can you provide the full command-line you're running, output of `ansible --version` and `git rev-parse HEAD` in the romana repo you've cloned?
I can try to reproduce it from there.

Those warnings are from a bit of refactoring, will be fixed up at some point.

[2016-07-11 22:34] cgilmour commented on #126
I've attempted to reproduce this, and the installation completed as-expected.
If you have another go at getting it working, and get stuck with the same problem (or any other issue), can you update this ticket?
You can also reach us via slack.

[2016-07-11 23:28] v1k0d3n commented on #126
let me try again now...sorry, I've just been really slammed.

[2016-07-11 23:30] cgilmour commented on #126
There's no rush, we'll be available to help whenever you get back to this.

[2016-07-11 23:45] v1k0d3n commented on #126
same issue, same place. i know that development workstations drift a bit from a new environment. this is on a week old OS X Macbook Pro, running El Capitan and I am using `zsh`, so let me know if bash is a requirement (although I did try in `bash` before reaching out).

[code]

[2016-09-17 05:30] #8 closed

[2016-09-17 05:30] pritesh commented on #14
feature added in current install

[2016-09-17 05:30] #14 closed

[2016-09-17 05:31] #32 closed

[2016-09-17 05:31] #82 closed

[2016-09-27 20:05] olafmol opened #137 "DC/OS compatability?"
Are there plans to make Romana work with DC/OS?

[2016-09-27 23:17] chrismarino commented on #137
Hi Olaf, we want to support DC/OS as soon as practical. We've been focused on Kubernetes lately. The CNI plugin for that should make it pretty simple, but we have had much time to begin.

[2016-11-10 11:12] vide opened #143 "kubeadm tutorial + romana doesn't work"
Hello

I was following http://kubernetes.io/docs/getting-started-guides/kubeadm/ to try a kubernetes installation and I've installed romana networking with `kubectl apply -f https://raw.githubusercontent.com/romana/romana/master/containerize/specs/romana-kubeadm.yml`

Afterwards, I deploy the sample application (sock-shop) and I try to connect to the front-end port on the  master's public LAN IP b

[2016-11-11 06:50] cgilmour commented on #143
Hi @vide, thanks for opening up an issue.

We've identified the cause, and it's a small bug in our policy agent.
A fix has been made and tested today, and will be bundled in an upcoming release.

Once it is installed, then you should be able to access the sock-shop application via the front-end `NodePort`. If you're enabling isolation on the `sock-shop` namespace, then additional policies will nee

[2016-11-12 19:20] chrislovecnm opened #144 "kops example fails"
Using this:

`
https://github.com/romana/romana/tree/master/containerize#using-kops
`

Currently, fails.  Please see:

https://github.com/kubernetes/kops/issues/877

[2016-11-12 19:36] cgilmour commented on #144
Hi @chrislovecnm , thanks for opening an issue.

I'll have a look and make some updates.
There's a small issue with policy agent that has been fixed and will be released soon.
I also need to document an additional step for EC2 instances - disabling source-dest-check.
However, from the referenced issue, it seems that the policy agent was not running. I'll see if I can reproduce that.

[2016-11-12 20:59] chrislovecnm commented on #144
@cgilmour thanks ... let me know.  Please reach out on slack, as my github messaging is a waste land

[2016-11-15 22:29] v1k0d3n commented on #126
definitely. sorry for leaving this open for so long @cgilmour

[2016-11-15 22:29] cgilmour commented on #143
Hi @vide, I've pushed up a new release that covers the bug fixes mentioned previously.
Installation instructions remain the same, and I've tested installing the demo application.
It worked as expected in the new release.

[2016-11-15 22:48] cgilmour commented on #144
Hi @chrislovecnm, we've released an update, and it's also been tested with the 'private topology' option for kops.
Everything seemed to work as expected.
As an additional test, I installed the dashboard add-on.

I've added some additional documentation about limitations compared to kops defaults.
Some will be fixed in the near future.
The specific item about "Source Dest Check" may need changes in

[2016-11-15 23:12] chrislovecnm commented on #144
Source Dest Check not sure what you mean.  Need more details :)

[2016-11-15 23:28] chrismarino commented on #144
from https://github.com/romana/romana/tree/master/containerize#limitations

EC2 Source Dest Check: By default, AWS EC2 instances have SourceDestCheck enabled. This needs to be disabled for pods on different hosts to communicate using their podIP addresses.

[2016-11-16 09:50] vide commented on #143
Thanks! I will try again and let you know ASAP

[2016-11-28 14:04] bweston92 commented on #143
I don't know if this is the same problem I'm having, but if so it isn't fixed. https://github.com/kubernetes/kubernetes/issues/37552

[2016-11-29 02:03] jbrendel opened #147 "Egress filtering"
It should be possible to perform filtering of egress traffic. Examples:

Deny:
- Traffic to a certain set of CIDRs
- Traffic to a certain set of tenants
- Traffic to a certain set of segments within the current tenant
- Combination of the above

Only allow:
- Traffic to a certain set of CIDRs
- Traffic to a certain set of tenants
- Traffic to a certain set of segments within the current tenant
- C

[2016-11-29 02:07] jbrendel opened #148 "Apply network policies to host traffic"
Allow for Romana policies to be applied to host traffic. Ingress for starters. This means that Romana can be used as a policy framework for both pods and VMs as well as the actual hardware on which it runs.

Host traffic rules may have to be applied to a either "all" (all host interfaces), specific interfaces or specific host IP addresses.

Peers should be either:
- Set of CIDRs
- Set of tenants i

[2016-11-29 02:09] jbrendel opened #149 "Re-write CNI plugin in Go"
The CNI plugin currently is written in bash. This should be re-written in Go. Various reasons: Access to numerous utilities and frameworks we have developed over time, more robust and performant.

[2016-11-29 02:10] jbrendel opened #150 "Readiness / liveness probes for our container install"
Currently, there are no readiness or liveness probes for the containerized setup.
They're a worthwhile feature to help detect some kinds of failure and trigger a restart if the services stop responding normally.

kube-dns is an example that contains both readiness and liveness probes. These could be used as an example for applying this idea to Romana services and agents.

[2016-11-29 02:12] jbrendel opened #151 "Command line tools and APIs for cluster status monitoring"
Provide API and command line tool to quickly get an overview of the current cluster state:

- State of each cluster node
- Number of configured Romana endpoints on each node
- Number of tenants and segments
- etc.

[2016-11-29 02:13] jbrendel opened #152 "Make IPAM topology aware"
Scenario: Someone wishes to deploy a Romana cluster across multiple L2 domains. For example: Multiple AWS VPCs, or multiple L2 domains in a datacenter (maybe multiple racks with a ToR on top).

- IPAM/topology need to know that there are different L2 domains. As a config item, the number of L2 domains and the max number of hosts in each L2 domain can be specified. For starters, we can assume that

[2016-11-29 02:14] jbrendel opened #153 "Updated documentation"
- Manual installation
- Romana policy tutorial
- Operator's guide

[2016-11-29 09:42] bweston92 opened #154 "kubeadm forever recreating DNS pod."
I have a VM on a bare metal server with KVM. There is only a internal network ip address. For some strange reason the KubeDNS container keeps restarting. In a previous discussion I have modified the YAML file to contain the following:

https://github.com/kubernetes/kubernetes/issues/37552#issuecomment-263445217

[code]

And
[code]

The mysql container looks fine and is running. The K8s DNS contain

[2016-11-29 10:14] cgilmour commented on #154
Hi @bweston92. Usually the reason kube-dns gets restarted is because it can't reach the apiserver.
It has readiness and liveness checks configured for it, and the endpoints for them only get activated after it's reached the apiserver.

I think you already checked the logs for it and it just seemed to die after about 60 seconds without really giving other information.

To confirm kube-dns is the on

[2016-11-29 10:40] bweston92 commented on #154
[code]

[2016-11-29 10:41] bweston92 commented on #154
The DNS container is up for 4-5 seconds at the most.

[2016-11-29 10:44] bweston92 commented on #154
For some reason it is looking for Flannel.

`kubectl describe pods kube-dns-654381707-u06ca -n kube-system`:
[code]

[2016-11-29 10:54] cgilmour commented on #154
Interesting. From that info, I'm not seeing any romana-specific pods or artifacts in that setup.

[2016-11-29 10:56] bweston92 commented on #154
Get pods shows:

[code]

[2016-11-29 11:02] cgilmour commented on #154
Right! That's what I expected to see in the earlier comment but it didn't show up.
Was the other output from the same VM that shows those items?

[2016-11-29 11:38] bweston92 commented on #154
@cgilmour I've updated the comment, I did a clean try and forgot to put Romana back in but it is still restarting that DNS container.

[2016-11-29 11:47] cgilmour commented on #154
Thanks. If the clean try was using Romana from the start, then there might be info in the log on the VM at `/var/log/romana-cni.log`

If it had a different CNI there first, it might be fixed by running
- `kubectl -n kube-system scale --replicas=0 deployment/kube-dns`
- `kubectl -n kube-system scale --replicas=1 deployment/kube-dns`

[2016-11-29 11:54] bweston92 commented on #154
The file doesn't exist. It wouldn't try to use Romana before me adding the YAML file right? Am I supposed to configure Romana separately?

Unfortunately after scaling down and back up creates same result.

[2016-11-29 20:21] cgilmour commented on #154
It's surprising that the log file doesn't exist.
The next thing I'd check is that the pieces of the CNI installed appropriately.

Normally there'd be
- CNI wrapper script in `/opt/cni/bin/romana`
- a config file in `/etc/cni/net.d` named `10-romana.conf` (and no other files)
- running `docker images quay.io/romana/cni` would output something like this:
[code]

[2016-11-30 01:36] jbrendel opened #155 "Support IPv6"
That's not supported by Kubernetes, yet, but we should prepare.

[2016-11-30 08:32] bweston92 commented on #154
Romana binary defiantly exists in there.
[code]

Correct the file does exist, but flannel does too, is that a problem?
[code]

I don't have `quay.io/romana/cni` I only have `quay.io/romana/agent` and `quay.io/romana/services`
[code]

[2016-11-30 08:59] cgilmour commented on #154
Yes, I think it's only used the flannel configuration because that's the first it found.

I suggest you move that file out of the way and see if that clears the issue (ie: it starts using the romana config).
If that doesn't immediately help, you can try scaling the replicas down and up again.

[2016-11-30 10:52] bweston92 commented on #154
Ok removing flannel config worked. The `cni` image has been pulled. Now we have some errors I believe.

[code]

[2016-11-30 10:54] bweston92 commented on #154
Wait no, it is working. I think we are on to a winner.

[code]

[2016-12-01 13:59] #154 closed

[2016-12-05 13:06] chrismarino opened #157 "AWS region hardcoded..."
When users run in AWS, region is set to US east or west. Should be configurable.

[2016-12-05 13:10] placydo commented on #157
/romana/romana-install/roles/provision/create-aws-hosts/tasks/main.yml line 6
/romana/romana-install/delete_hosts.aws.yml line 10
/romana/romana-install/group_vars/aws - there are hardcoded ami ids for one region - this should be changed with AWS regions (there is AMI per Region)

[2016-12-08 00:16] chrismarino commented on #152
No mention here of how the external infrastructure gets configured with routes. For AWS it would be manually, but for L3 ToRs Romana needs to announce it's container network.

[2016-12-08 00:16] jbrendel commented on #152
That's right. Configuring external hardware would be a separate task.

[2016-12-22 10:46] zreigz opened #158 "Romana + Kubernetes behind the NAT"
According to this document http://romana.io/faq/#how-does-romana-handle-nat
it possible to use romana behind the NAT. Can someone explain how to exactly achieve this together with kubernetes ?
Thanks in advance

[2016-12-22 13:37] chrismarino commented on #158
Hi @zreigz, this question in the FAQ is a bit misleading. It was included in the list because when using Romana in an OpenStack environment, NAT on a Neutron router was not supported. The point being that since NAT was unavailable there, it needed to be provided some place else.

As for your specific question about deploying Romana with k8s behind NAT, I'm not sure I completely understand. Kuberne

[2016-12-22 15:54] zreigz commented on #158
I have installed k8s master on gce, so it is available with some external IP. Now I would like be able to connect minions from any places (different locations, networks). For instance when I create my minion in my local home network then I have two problems. First when I execute `kubectl logs` or `kubectl exec` then master initialize connection to node. Because node is located in my local network

[2016-12-22 16:13] chrismarino commented on #158
OK. I see. This kind of deployment presents a bunch of problems because the nodes are not directly reachable without NAT. I think you're going to have to build a mesh VPN among the nodes. Romana isn't going to help with that at all. Depending on how you build the mesh (i.e. tun vs. tap) you'll have either L2 or L3 connectivity across the VPN.  I think both flannel and Romana will work on the VPN,

[2016-12-22 16:55] zreigz commented on #158
OK, thanks for explanation and your time. I think I can close the issue

[2016-12-22 16:55] #158 closed

[2017-04-13 07:36] mortensteenrasmussen opened #161 "Deployment for kubeadm clusters no longer works with 1.6"
In `containerize/specs/romana-kubeadm.yml`, you run the `romama-services` daemonset under this nodeselector:
[code]

In a kubeadm 1.6 cluster, the master node now looks like this, which means the `romana-services` pod will never be scheduled.

[code]

[code]

I added the label to my master to get it running, but the YAML file should be updated to use the correct nodeSelector and/or toleration.

[2017-04-13 07:39] mortensteenrasmussen commented on #161
I changed the following to get it working:
From:
[code]

to:
[code]

[2017-04-13 13:28] chrismarino commented on #161
Hi @mortensteenrasmussen, yes we found this as well. Have a PR being tested right now with this change.

[2017-04-13 21:36] cgilmour commented on #161
Hi @mortensteenrasmussen

We've merged your change from #162 as well as further changes in #164.
That should resolve the problems you had with installing romana on kubeadm 1.6.1 setups.

The installation step is still the same ( `kubectl apply -f https://raw.githubusercontent.com/romana/romana/master/containerize/specs/romana-kubeadm.yml` ), but it now provides RBAC roles and bindings and updated

[2017-04-13 21:39] chrismarino commented on #161
@mortensteenrasmussen We will need you to agree to our CLA. The automated system for that was not working properely, so we might need to back out your PR, then have you re-submit it so you can click through on the agreement....

[2017-04-16 04:33] mortensteenrasmussen commented on #161
@chrismarino CLA signing was done in #165 since it didn't appear in #162 - should be all good now.

[2017-04-16 17:55] chrismarino commented on #161
@mortensteenrasmussen Thanks!

[2017-05-16 05:21] #161 closed

[2017-05-16 09:25] nightmeng opened #166 "Documents for romana on multipe subnets"
I have install ramana on my k8s cluster according to the following document:
https://github.com/romana/romana/tree/master/containerize

The document says:
An automated setup only supports a single subnet in this release. Multiple subnets are supported, but automating that configuration is coming in a future release.
But I can not find any document describes romana on multiple subnets, where I can

[2017-05-16 12:49] chrismarino commented on #166
Hi. Support for multiple subnets gets really complicated really fast. The installer doesn't do that and we're in the middle of some changes to make that possible. Unfortunately, it won't be ready for several weeks. And I'm afraid that until then there are not any simple alternatives.

Are you running in ASW VPCs? Or in your own datacenter?

[2017-05-17 03:35] nightmeng commented on #166
Thank you very much, I'm running romana in my own datacenter, not AWS.
Does romana support cross-subnet communication by IPinIP， just like calico？
Before the cross-subnet version release, is there another way to support
cross-subnet?

[2017-05-17 03:56] chrismarino commented on #166
Hi, Romana does not have an ip-ip mode. Right now we are working on and testing an agent that will announce the host stub networks up to ToRs.  Absent that, you could add the routes manually. Building tunnels would work as well, but thats going to be a lot  more work.  Perhaps we can get you the new agent to try out. Let me look in to that for you.

[2017-05-17 04:35] flashvoid commented on #166
Hello @nightmeng, we have development branch with BGP speaker enabled on every kubernetes node that can be configured to advertise it's routes to some BGP capable router that would handle cross-subnet communication.
Alternatively,  BGP router can be enabled on every k8s node, that would enable cross-subnet communication without a dedicated router.

Would that satisfy your requirements?

[2017-05-17 07:01] nightmeng commented on #166
@chrismarino @flashvoid Yes,  it satisfies my requirements,  and I think it is a great design!
I can not add routes manually now, but I want to try the development branch. Which branch is the development branch you menthioned above?
Thank you.

[2017-05-17 07:06] flashvoid commented on #166
@nightmeng it's not visible in public repo, I will build the binaries and we need to discuss how to pass it on to you, probably will build special containers or something else.

[2017-05-17 07:20] nightmeng commented on #166
Containers please, thank you!

[2017-05-22 22:23] flashvoid commented on #166
Hello @nightmeng, we're finished containers and installer changes for bgp announcement and are ready to assist you in a deployment scenario.

below is a copy of our internal instruction that applies to containers with `enable-bird` tag.

you should also receive an invite into our internal slack
---

Note: experimental changes.

This feature lets a user configure the agent to use bird as a route pu

[2017-05-23 16:35] chrislovecnm commented on #144
What is the status on this?

[2017-05-23 16:48] chrismarino commented on #144
Hey, @chrislovecnm  ......I think this specific issue has been resolved.

[2017-05-27 12:45] shafreeck opened #167 "Can not start romana-agent on k8s"
I installed k8s cluster from scratch followed the guides of k8s docs. But I can not deploy romana with the file romana-kubeadm.yml.

[code]

And I got the logs

[code]

It really stuck me here.  Looking forward to help!

[2017-05-27 13:28] shafreeck commented on #167
I solved it by myself. I missed the argument '--pod-to-host'. Maybe you should document it clearly.

[2017-05-27 13:28] #167 closed

[2017-05-29 03:50] cgilmour commented on #167
Hi @shafreeck , thanks for trying Romana and sorry to hear you got stuck.

I think the cause is unrelated to the `pod-to-host` option, which defaults to `true`.
However, changing the config and re-applying it will have cleared the CrashLoopBackOff delay timer.
I suspect that the romana-services containers took a while to get pulled and launch the components inside it, so romana-agent pod was havin

[2017-07-06 09:08] aalba6675 opened #168 "k8s-1.7 kubeadm tutorial+romana: kube-dns CrashLoopBackOff"
I am having a kube-dns CrashLoopBackOff with romana in kubernetes 1.7 with the kubeadm tutorial.
This is a KVM CentOS image with SELinux enforcing set to Permissive. The VM and KVM network are working because I am able to use kubadm/weave the run sock-shop. With romana I get stuck at kube-dns...

[code]

The kubedns container is showing 'Timeout waiting for initialization'.

[code]

The romana-* p

[2017-07-06 17:04] pritesh commented on #168
Hi @aalba6675 can you please post the spec you used for bringing up romana? in the default spec romana uses 100.112.0.0/12 as shown [here](https://github.com/romana/romana/blob/master/containerize/specs/romana-kubeadm.yml#L163). Mainly its different from clusterIP range you mentioned above. Also [here](https://gist.githubusercontent.com/pritesh/5cba3787bb61e34156cde22291c30fe6/raw/6f5aeab66857b13e

[2017-07-07 01:01] aalba6675 commented on #168
@pritesh  Your latest spec file (with pani/ images instead of quay.io 1.1.0_ works!
kube-dns pod is up without CrashLoopBackOff - thanks!

Did you fix something between quay.io/romana-*:v1.1.0 and pani/romana-*:2017-06-28?

Here is the diff between the new spec you provided and the one I am using:

[code]

[2017-07-07 01:12] aalba6675 commented on #168
@pritesh Unfortunately, now the second kubelet cannot join and is in CrashLoopBackOff. The log from the romana-agent on the second node:

[code]

[2017-07-07 01:46] flashvoid commented on #168
Hello, somehow you ended up with 2 hosts sharing one ip in romana database `192.168.125.111` probably just a duplicate of the same host.

You should be able to see this in `romana host list` output.

There are 2 immediate options, you can either connect to etcd and fix your database manually - removing duplicates.
Or you can delete all the pods, then delete romana `kubectl delete -f romana-kubeadm

[2017-07-07 02:24] pritesh commented on #168
Hi @aalba6675 , there are 2 changes in it, First one is that, the cleanup is turned on by default in the new yml file i.e [this one](https://gist.githubusercontent.com/pritesh/5cba3787bb61e34156cde22291c30fe6/raw/6f5aeab66857b13ec51bdcceff4bd42215d867d8/romana-kubeadm.yml)  and it also points to the new pods, where in couple of bug fixes for cni, romana services, etc went in the pods (a numbered r

[2017-07-07 02:29] aalba6675 commented on #168
@flashvoid @pritesh  : when I use `kubeadm join` I am now getting two keys for a new node.
I confirm that the etcd tree does not have that kubelet prior to joining:

[code]

Any idea why two keys are created? When I delete one key, then the node can join.

[2017-07-07 02:42] flashvoid commented on #168
You should be able to see `listener` process in the process list on master - can you confirm that there is only one?

[code]

[2017-07-07 03:04] aalba6675 commented on #168
It is non-deterministic (whether I get 1 or 2 key(s) for a new node):
- Confirmed that there is a single listener process
- Master node, and first worker joined sucessfully
- When joining 2nd and 3rd worker I got two keys each

[2017-07-07 03:48] chrismarino commented on #168
Hi @aalba6675 if you like, send an email to info@romana and we'll add you to our slack channel. It will get you lower latency responses to these issues.

[2017-07-07 03:52] aalba6675 commented on #168
@chrismarino  thanks for the suggestion: done!

[2017-07-07 03:53] chrismarino commented on #168
@aalba6675 info@romana.io is what I should have indicated....

[2017-07-10 05:11] aalba6675 opened #169 "Support SELinux"
Using the kubeadm tutorial with romana (currently with 2017-06-09 romana images from pani/):

Make sure SELinux on RHEL-like systems is enforcing.

On RHEL-like systems romana is not SELinux friendly: the master pods use a host mount `/var/lib/romana`, without the proper SELinux label they are all created with labels like '`container_<something>_t`', within the container actions like  `touch /var/

[2017-07-13 02:14] #169 closed

[2017-07-13 23:39] pritesh commented on #168
Fixed in [Release 1.5](https://github.com/romana/romana/releases/tag/v1.5.0)

[2017-07-13 23:39] #168 closed

[2017-07-13 23:40] pritesh commented on #149
Fixed in [Release 1.5](https://github.com/romana/romana/releases/tag/v1.5.0)

[2017-07-13 23:40] #149 closed

[2017-07-13 23:43] pritesh commented on #92
Fixed in https://github.com/pritesh/romana-setup

[2017-07-13 23:43] #92 closed

[2017-09-14 09:09] neegor opened #173 "fail agent"
Romana v.2
Kubeadm
Kubernetes 1.7.5

[code]
Thanks

[2017-09-14 09:40] flashvoid commented on #173
Hello @neegor
The message you are getting isn't really an error, it just means system skips one route because it exists implicitly as `connected`.

We will probably switch it into `DEBUG` level for next release. Please don't worry about it.

[2017-11-05 04:23] #144 closed

[2017-12-11 03:29] jkdat1992 opened #174 "[Romana VIPs] it's not working"
when i setting up Romana VIPs and shutdown one node have VIPs buts i have recognized that one pods can't moving to other nodes and VIPs not showing , maybe service will not notify again after the pods death or any other
please check
thanks for your support

[2017-12-11 03:36] chrismarino commented on #174
Hi @jkdat1992, Sorry, there is a known bug in how Romana VIPs recover from node failure. K8s changed the way services get updated and Romana v2.0 needs to check. There is a patch that will be available soon.

[2017-12-11 17:30] chrismarino commented on #174
@jkdat1992 Should have mentioned that if you restart the Service, it should come back OK.  Hope to have a patch this week.

[2017-12-22 14:20] chrismarino commented on #174
Hi @jkdat1992, sorry for the delay on this. A new release was pushed last night that should fix the problems you're seeing with Romana VIPS.  You will need to upgrade to version 2.0.1. Instructions available here: http://docs.romana.io/Content/operations.html#upgrading-romana-on-kubernetes

If you have any problems, you can find us on Slack as well.

[2017-12-22 14:24] chrismarino commented on #174
Also, you should probably adjust the node monitor check intervals as well to get the failover time down from the default value. More here: http://docs.romana.io/Content/advanced.html#romana-vips

@jkdat1992 once you upgrade and try it out, let us know if it works for you so we can close out this issue.

Thanks

[2017-12-25 03:52] mdianjun opened #175 "Romana couldn't support configuring network topology at runtime?"
Once romana daemon is started, /romana/ipam/data is create in etcd。 While, if I want to change network topology（e.g.  add hosts, add groups）, but this is not allowed。

[2017-12-25 04:16] chrismarino commented on #175
Hi @mdianjun Updating the network topology on a running system is not well documented right now. Hosts can be added easily, new networks can be added easily, but changing the topology for a network that has already been defined is kind of tricky. Because prefixes are defined for a network before an IP address is allocated, a change to running network requires that the IP addresses and prefixes can

[2017-12-25 04:26] chrismarino commented on #175
When new nodes are added to a Kubernetes cluster, Romana will add each new node to a 'group[]' in the topology (in a round robin fashion) and pods will get addresses with that group prefix. If the topology specifies more details such as 'rack-1', 'rack-2' etc, Romana will look for tags with these lables to assign the new node to that group.

More detail here: http://docs.romana.io/Content/networki

[2017-12-25 04:57] chrismarino commented on #175
@mdianjun One more comment about updating network topologies on running clusters.  A common change to a network topology would be to add racks. It is also likely that with the new rack, additional addresses would become available on the larger cluster.  This kind of change to a network topology would is easily supported with an updated topology file that includes the new rack and network.

So, for

[2017-12-25 06:48] mdianjun commented on #175
How to reload topology configuration?
1. change configmap of romana-daemon's --initial-network, but romana-daemon reports:
[code]
2. use romana cli, but the tool doesn't implement the interfaces of "host add, host delete, etc."
[code]

[2017-12-25 10:40] mdianjun opened #176 "Write bird conf file manually, could it be automatically?"
Calico uses confd to generate bird conf, but romana needs user to write bird conf manually.  This would be hard for someone else.

[2017-12-25 14:21] chrismarino commented on #175
Hi @mdianjun for item #1, I believe these are just warnings. It goes to my earlier point that when the topology changes, the IP addresses in use on running clusters, and the routes to them, must survive. This means that an updated network topology has to 'merge' with the new one. There is a PR for this, but it is not yet committed.

If the updated topology does not conflict in any way with the old

[2017-12-25 14:28] chrismarino commented on #176
What do you mean 'user'? There is a bird template that gets configured automatically. Have you installed the '[route publisher](http://docs.romana.io/Content/advanced.html#route-publisher-add-on)' add-on?  This will install Bird and reload the configuration automatically.

The user can configure bird specifically to their requirements, but it will be automatically loaded.

[2017-12-25 14:31] chrismarino commented on #176
@mdianjun Send an email to info@romana.io to get an invite to our slack channel. There are others there that can help you through the configuration details.

[2018-01-31 12:10] juris opened #177 "Romana agent fails to start"
Trying to use Romana with CoreOS 1576.5.0 and Kubernetes 1.8.7. Used kops 1.8.0 for provisioning.

All agents in DaemonSet fail to start:
[code]

Other components are running without any issues.

[2018-01-31 14:24] chrismarino commented on #177
Hi @juris, docs should be better on this point. Romana's installer does not support CoreOS right now. Working on it, though. @cgilmour has the details.

[2018-02-01 00:07] cgilmour commented on #177
Hi @juris, a fix for that error (`failed to get default link: invalid argument`) has been made and will ship in the next point release. I'll put an update here when that next release is available.

[2018-02-01 10:46] juris commented on #177
Perfect. Thanks!

[2018-02-07 09:46] cgilmour commented on #177
Hi @juris , this should be resolved in the v2.0.2 update to Romana.
We will coordinate with the kops team for incrementing the versions that are used during a kops install.

[2018-02-07 10:57] juris commented on #177
This is great news! Thank you Caleb.

[2018-02-07 10:57] #177 closed

[2018-02-14 19:27] ebauman opened #178 "Agents complaining about context deadline exceeded"
Greetings,

I am running k8s 1.9 / romana 2.0.2 (recently upgraded from 2.0.1 as an attempt to fix this issue).
Every romana-agent instance has the following entries in its logs:

`Failed to update ipsets, can't apply Romana policies, context deadline exceeded`

This is coupled with an inability to setup romana VIPs.
It appears containers still receive IPs appropriately though.

[2018-02-14 19:38] chrismarino commented on #178
Hi @ebauman can you describe more completely when this happened? When you installed? When you tried to create a Romana VIP? Or add a Network Policy?

[2018-02-14 19:39] ebauman commented on #178
Sure thing, sorry for the lack of detail.

This morning I attempted to deploy a service to my new k8s cluster.
I had previously installed k8s 1.9 / romana 2.0.1 a few weeks ago. At that time I did some simple testing with an nginx pod and service and was able to assign a VIP from the subnet that my hosts were on.

Today when I attempted to deploy this service, the service did not receive a VIP fro

[2018-02-14 19:41] pritesh commented on #178
@ebauman can you please paste the annotation use for romanaVIP here?

[2018-02-14 19:42] ebauman commented on #178
[code]

[2018-02-14 19:42] chrismarino commented on #178
@ebauman send an email to info@romana.io and we can take this to slack, if you want.

[2018-02-14 19:42] ebauman commented on #178
Will do! I'll follow-up shortly. Thanks @chrismarino

[2018-02-14 19:43] #178 closed

[2018-03-06 08:00] ymmt2005 commented on #152
I'd like to know whether this issue has already addressed with the current romana or not.

Maybe we can already auto-select topology with k8s node labels as described [here](https://github.com/romana/romana/blob/master/docs/kubernetes/network-topology.md#host-group-json)?

Or this requires something more to dynamically assign range of IP addresses in a subnet?

Thanks in advance!

[2018-03-06 15:12] chrismarino commented on #152
Hi @ymmt2005 This issue is quite old. It should have been closed long ago. Topology aware IPAM is an essential aspect of Romana v2.0 which has been available for quite some time.  The details on how to create your own custom topology are described [here](http://docs.romana.io/Content/topology.html#network-topology).

You can also use this topology map [wizard ](http://docs.romana.io/Content/advanc

[2018-03-06 15:20] chrismarino commented on #152
@ymmt2005 As for your question about dynamically assigning IP addresses in a subnet, there are several aspects to this. To start, you can create a topology that uses only one network range, and then later update the topology to include a new (i.e. second), no-overlapping network. Or you can define both networks up front.

Either way, once they are defined, you can tag your pod spec with the networ

[2018-03-06 15:40] ymmt2005 commented on #152
@chrismarino Thank you for the clarifications!  I got it.

[2018-03-09 08:43] ymmt2005 opened #179 "Multiple IP addresses per host"
Problem:
We want to have ECMP routes between nodes in the same L2 domain.
Current agent implementation does not setup ECMP as it assumes each
Host has only one IP address.

Background:
We have two ToR switches in a rack.  Each ToR provides distinct L2 domains,
therefore distinct subnet IP addresses, to servers with 2 NIC ports.

This way, each server has two equal-cost IP addresses.  Default route

[2018-03-09 15:27] chrismarino commented on #179
Hi @ymmt2005 Lots going on here. Some questions though.  When you say ECMP, do mean ECMP for both egress and ingress traffic? Or do you just want each subnet to use its own NIC? That is, each subnet to have a different default route? From your example, I'm guessing that you've got two /17 networks (196.168.0.0/17 and 192.168.128.0/17). So, if the .128.0 network gets set with a different default ro

[2018-03-09 15:44] chrismarino commented on #179
Forgot to mention that it might also be possible to configure the route publisher to handle this even with default routes set to eno1. Not the Bird expert, would need @flashvoid to clarify what might be possible.

[2018-03-09 16:09] ymmt2005 commented on #179
@chrismarino
Thank you for the detailed reply.  Yes, we want ECMP for egress.

Upstream routers are responsible for ingress and we can do it thanks to
the highly configurable route publisher (in fact, it is one of the greatest
strength of Romana, I think!).

The problem here is not only to distribute egress loads, but also to keep
redundant routes in preparation for ToR failure.

We are thinking t

[2018-03-09 16:34] chrismarino commented on #179
OK. @ymmt2005 I understand. Looks like you're already using the route publisher add on for upstream route distribution. I think your workaround will work as well. But not the expert on how Romana will behave if the routes/rules are deleted. The agent might try to re-install them...

I'm pretty sure the Romana agent installs routes even if they are not necessary because the route publisher is used.

[2018-03-09 16:39] ymmt2005 commented on #179
We will try.  Please expect this will take a while.

[2018-03-10 01:53] cgilmour commented on #179
The agent creates the rule for `table 10` when it launches. So if it were deleted manually then the agent restarted, it will get recreated.
There's no option for disabling the rule and route management in the agent at the moment.
If it's helpful to have an option for this, we can consider it.

I think Kubernetes will limit things to a single InternalIP per node. If so, even if Romana supported ECM

[2018-03-10 02:56] ymmt2005 commented on #179
@cgilmour Thank you.  We will check how k8s works in case of a ToR failure.

[2018-03-10 04:00] flashvoid commented on #179
@ymmt2005 I made a container for you that supports disabling route management - try `quay.io/romana/agent:hotfix-291` with the environment variable `EXPERIMENT_MANAGE_ROUTES=false` pushed into a container.

Supporting ECMP how you proposed in the issue is interesting and not very hard to do, but I don't know what would be the best way to express such configuration.

[2018-03-10 04:10] ymmt2005 commented on #179
@flashvoid Wow, thank you!

[2018-03-11 23:48] danderson opened #180 "Publish a Romana manifest for custom network addressing ranges"
Currently, Romana only "just works" if the Kubernetes cluster is using the default service IP range. I naively assumed that just switching any mention of a service IP in the manifest to use the correct range would be enough to fix things, but looking at http://docs.romana.io/Content/components.html , there is significant extra reconfiguration needed (configmaps, volume mounts, more flags...).

Thi

[2018-03-11 23:51] danderson opened #181 "Slack invite instructions don't work"
http://romana.io/docs/ says to email slack@romana.io for an invite to the Slack community, but that email bounces.

[2018-03-11 23:52] chrismarino commented on #181
Whoops. Should be info@romana.io

[2018-03-12 00:57] cgilmour commented on #180
Yes, the reason it works with defaults is because it makes a guess about a default config to use based on the `KUBERNETES_SERVICE_HOST` value, eg:
100.64.0.1 -> guessed as kops in AWS
10.96.0.1 -> guessed as kubeadm with default service CIDRs.
If it fails to guess correctly, you can still use a default config by setting the option on the daemon deployment, eg: adding this for kubeadm.
[code]

Simi

[2018-03-12 14:07] chrismarino commented on #181
Fixed.

[2018-03-12 14:07] #181 closed

[2018-03-15 18:21] kvaps opened #182 "Phantom IP on second interface"
Hi we have problem, our nodes have two interfaces: `eno1` and `eno1d1`.
In simple configuration the second one is not used but it is up:

[code]

When I install romana on this machine, this interface start answers on any arp's `who-has` requests, example:

[code]

This continues until I shut it down:

[code]

But even if I remove any romana containers, cleanup routes and ipdatables, then set this

[2018-03-15 18:31] chrismarino commented on #182
Hi @kvaps Guessing that an interface without an IP  is confusing the Romana installer,  or its possible that this is just a bug or situation Romana does not handle properely. Any chance you can put an IP on this interface to see how it behaves? @cgilmour and/or @flashvoid might have some other suggestions.

[2018-03-15 19:02] kvaps commented on #182
Hi @chrismarino, thank for quick reply,
I was added IP from another subnet before setup, then installed romana. The result the same, nothing changed second interface `eno1d1` continue flooding my network by fake replies.

[2018-03-15 19:09] chrismarino commented on #182
@kvaps I don't know exactly how this can happen. Quite strange. Probably an iptable rule that's not set/working right. When you said you cleaned up iptables, did you delete `table 10`? That's where the Romana rules are set.

[2018-03-15 19:18] kvaps commented on #182
@chrismarino What was done after issue:
[code]
And this behavor is still there after all of this actions.

[2018-03-15 19:20] chrismarino commented on #182
Hmmm.....way past my ability to diagnose. Need to hear back from others for more suggestions. Sorry. Send an email to info@romana.io if you want to get on Slack for lower latency replies.

[2018-03-15 19:21] kvaps commented on #182
I think romana can add some hidden ip `0.0.0.0/0` on this interface in some different namespace.
Or somehow switch it to brodcast mode, I have no idea what is exactly romana doing with this interface and why - is second question ;)

[2018-03-15 19:23] kvaps commented on #182
Thanks, I'll do this!

[2018-03-16 00:54] kvaps commented on #182
I've tested debian and ubuntu with few kernels.
The problem ocurrs only with debian installation.
[code]

Steps for reproduce:
[code]

[2018-04-05 14:41] kvaps opened #183 "romana removes my ipset rules"
I have this rule for example:

[code]

but after I recreate romana-agent on this node, I have only:

[code]

[2018-04-22 20:54] romeotheriault opened #184 "Network Policies in Kubernetes 1.9 don't work"
Hi, using k8s 1.9 with kops and romana v2.0.2. I'm trying to apply k8s network policies but they seem to have no effect. I see that the romana listener is picking them up and they are creating romana policies, but the rules are having no effect. Do k8s network policies work with romana 2.0.2? (I see in the romana 2.1 feature list that supporting new style k8s network policies is a upcoming feature

[2018-04-22 22:11] chrismarino commented on #184
Hi @romeotheriault, Romana is a bit behind with the Network Policy API support. There was a change in the default behavior from k8s v1.7 to v1.8 (and v1.9). Romana v2.0.2 still only supports the v1.7 style API. Here is an example of a network policy that uses the old API. https://github.com/romana/romana/blob/master/test/kubernetes-cluster/frontend-to-backend.yml

Romana v2.1 is not quite ready. B

[2018-04-22 22:29] chrismarino commented on #184
@romeotheriault yes, v2.0.2 does not support free form lables defined in the spec. The default lables are 'romanaTenant' and 'romana.io/segment' and are defined at install here: https://github.com/romana/romana/blob/b383faf2884a9f3bb56f090161ba20732b0c02eb/romana-install/group_vars/kube_nodes

So, the default install allows only *two* labels: 'romana.io/segment' and 'romanaTenant'

Haven't run acr

[2018-04-22 22:32] chrismarino commented on #184
@romeotheriault FWIW, these hard coded labels are a remnant of Romana v1.0 that had an explicit tenancy model. Romana v2 expanded that to be more flexible, but still some lingering evidence of the old v1.0 model.

[2018-04-23 00:13] romeotheriault commented on #184
Thank you. That helps, and I think I'm getting really close but for some reason none of the rules I apply are working. As a first test I'm simply trying to have a rule between two pods in the same namespace that only allows one port to be contacted from the other pod. I applied the 'romana.io/segment' label to the containers I created, and  romanaTenant appears to be getting set to the namespace o

[2018-04-23 00:48] cgilmour commented on #184
Hi @romeotheriault,

The latest version of Romana still uses the v1.7 approach to policies, which required an annotation on the namespace:
`kubectl annotate --overwrite namespace sprouts 'net.beta.kubernetes.io/networkpolicy={"ingress": {"isolation": "DefaultDeny"}}'`

This will trigger deletion of the `AllowAllPods2Talk_xxxxxx` policy for that namespace, and only traffic from your additional poli

[2018-04-23 09:42] cgilmour commented on #184
From our discussion on slack, there were some rules that effectively accept traffic before Romana's policy rules have a chance to make decisions.

(from iptables-save)
[code]
These accept the traffic on the FORWARD chain before reaching the rules that Romana manages.

This seems to be related to the change from kubernetes/kops#3977, and caused an issue for other network policy implementations (eg:

[2018-05-04 15:10] maximih opened #185 "Does not work as delegate for another CNI plugin"
I am trying to use Romana as a delegate plugin for [Multus](https://github.com/Intel-Corp/multus-cni) but it seems Romana must be the main plugin so this setup does not work.

Details:

1. Add a Multus CNI config using Romana as delegate by creating `/etc/cni/net.d/00-multus-cni.conf` with the following content:

[code]

2. Init kubernetes

[code]

3. Install Romana

[code]

When I check the statu

[2018-07-25 04:15] phozzy opened #186 "http://docs.romana.io/ - do not work"
attempt to open http://docs.romana.io/ gives next error:
[code]

[2018-07-25 15:39] chrismarino commented on #186
Sorry about that. The link is broken. The docs were moved to http://romana.readthedocs.io

[2018-07-26 07:18] phozzy commented on #186
https://github.com/romana/romana/pull/187

[2018-07-26 23:35] scurvy opened #188 "Romana agent fails to update 10 table sometimes"
We've noticed that sometimes the Romana agent will miss an update for an assigned network on a few hosts. This means that these hosts have outdated/inaccurate 10 tables. They're pointing to a neighbor when they should have a local route to a romana device instead.

Are there commands to either sanity check or reconcile these local tables?

[2018-07-27 02:53] phozzy commented on #186
Great! Now it is better :-) I am closing this issue.

[2018-07-27 02:53] #186 closed

[2018-07-27 21:05] chrismarino commented on #188
I don't think there are commands to do this directly. Hard to know exactly what's happening here. Would really need to hear from @cgilmour or @flashvoid

[2018-08-02 22:57] flashvoid commented on #188
@scurvy one way to force agent to reconcile the tables is to delete the agent container. It should restart rebuild tables during startup.

[2018-08-06 13:54] scruplelesswizard opened #189 "Enable etcd TLS connection"
From reading the code (the docs certainly need to be improved in this regard) it appears that it is not possible to provide a client certificate for Romana to access the etcd cluster where it stores it's configuration.

Am I missing some configuration somewhere that allows using a client certificate to access the etcd cluster?

[2018-08-07 02:46] chrismarino commented on #189
Pretty sure you are correct. Several TLS capabilities have not been implemented yet. @cgilmour would know for sure...

[2018-09-06 14:17] kuijpersj commented on #184
@romeotheriault Did you get the NetworkPolicy's working? I'm currently trying to accomplish the same but somehow all communication between the pods keeps working (which is bad if you want to block communication).

my iptables-save on the machines does not show the -A forwared ... rules show in the comment above.

[2018-11-02 02:55] ymmt2005 commented on #179
We finally decided to have a single authoritative address for each node.
Thank you very much for all of your kind help!

[2018-11-02 02:55] #179 closed

[2019-01-08 07:06] jlpnetworx commented on #175
Although it has been a while since this was posted, what is the official / correct way of updating a topology. The cluster was setup with kubeadm and the kubeadm-network.json must have been implicitly used (we never specified it). I need to add a new rack and want to put something in the topology map (only one entry used atm) and i want to add an assignment for the second host-group.
From the comm

[2019-01-08 22:50] jlpnetworx opened #191 "Applying a new topology after the initial installation"
Hi,

can anyone help me and guide in me in the right direction to the official / correct way of updating a topology. The cluster was setup with kubeadm and the kubeadm-network.json must have been implicitly used (we never specified it). I need to add a new rack and want to put something in the topology map (only one entry used atm) and i want to add an assignment for the second host-group.
From th

[2019-06-06 09:31] rolindroy commented on #189
Any update on this issue ? We're facing the same.

[2019-06-19 22:27] scruplelesswizard commented on #189
We changed to use alternatives as it seems Romana is not actively maintained, and other CNI providers offered all our required feature sets. I would strongly suggest you do the same @rolindroy

[2019-10-15 19:08] swap357 commented on #184
Can you provide the modified yaml with deployments and Network policies working for K8s>1.6 ?

[2020-05-06 13:53] #173 closed

[2021-07-13 22:05] #189 closed, assigned to nobody